@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  background: lavender;
}

:root {
  font-family: "Montserrat", sans-serif;
  --default-border: 2px dotted grey;
  --default-margin: 50px;
}

main {
  display: flex;
  margin: var(--default-margin) auto;
  width: 50%;
  flex-direction: column;
  align-items: center;
}

.quote-source {
  width: 100%;
  margin: 0px 0px var(--default-margin) var(--default-margin);
  text-align: left;
}

fieldset {
  border: var(--default-border);
  padding: 20px;
  background: lightgray;
}

.results-container {
  background: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 4em;
  font-size: 1em;
  margin: var(--default-margin) 0px;
  border: var(--default-border);
}
blockquote {
  background: lightgray;
  border: 1px solid black;
  padding: 10px 10px 10px 10px;
  text-align: center;
}
#search-results {
  color: red;
  /* background-color: white; */
  text-emphasis: bold;
  /* padding: 2px 2px 2px 2px; */
}
